.body-gradient {
    background-image: linear-gradient(to right, #085078, #85d8ce);
}
.first-container {
    margin-top: 25px;
    margin-right: 700px;
    margin-left: 700px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 #34495e;
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-name {
    font-size: 20px;

    text-align: justify;
    font-family: verdana;
}
.form-contents {
    border-radius: 10px;
    width: 420px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-family: verdana;
}
.submit-button {
    border-radius: 10px;
    width: 90px;
    height: 40px;
    font-size: 16px;
    margin-left: 165px;
    font-family: verdana;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 22px 0 #34495e;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.heading {
    font-family: verdana;
    font-weight: 500;
    font-size: 32px;
    color: darkslategray;
    margin-top: -3px;
    margin-bottom: -1px;
}
.second-stage-div {
    border-radius: 14px;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #f2f4f4;
    opacity: 0.8;
    box-shadow: 0 8px 32px 0 #34495e;
}
.input-form-section {
    margin-left: 150px;
}
#togglePassword {
    margin-left: 10px;
    cursor: pointer;
}
#toggleConfirmPassword {
    margin-left: 10px;
    cursor: pointer;
}
.checkbox-cursor {
    cursor: pointer;
}
